<link rel="stylesheet" href="/stylesheets/footer.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<div id="footer" class="container-fluid">
    <br>
    <div class="row text-center">
        <div class="col-lg-6">
            <div class="fheading">For Sale</div>
            <div>
                <br>
                <p id="ftext">
                    ForSale is a property hunting website that helps you pick your dream home. Pick something that is close to all the different amenities you need - railway station, hospital, fire station, parks and police station. Pick something that feels like home.
                </p>
            </div>
        </div>
        <div class="col-lg-3">
            <section>
                <div class="fheading">Links</div>
                <br>
                <ul>
                    <li>
                        <a class="flink" href="/">HOME</a>
                    </li>
                    <li>
                        <a class="flink" href="/locguide">KNOW YOUR LOCATION</a>
                    </li>
                    <li>
                        <a class="flink" href="/houserent">RENT</a>
                    </li>
                </ul>
            </section>
        </div>
        <div class="col-lg-3">
            <section>
                <div class="fheading">Contact Us</div>
                <br>
                <ul>
                    <li>
                        <span class="ficon">
                            <i class="far fa-envelope"></i>
                        </span>
                        <a class="flink" href="/">forsaleinfo@gmail.com</a>
                    </li>
                    <li>
                        <span class="ficon">
                            <i class="fas fa-phone"></i>
                        </span>
                    </li>
                    <br>
                    <li>
                        <i class="fmediaicon fab fa-instagram fa-3x"></i>
                        <i class="fmediaicon fab fa-twitter fa-3x"></i>
                        <i class="fmediaicon fab fa-facebook fa-3x"></i>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</div>
