<%- include ("./partials/header.ejs")%>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/geocoding.css">

    <p id='pin' class="d-none">
        <%=pin%>
    </p>
    <p id='area' class="d-none">
        <%=area%>
    </p>
    <p id='para'></p><br>
    <h1>DETECT LOCATION BY PINCODE/AREA</h1>
    <h2>Select the amenities to be displayed</h2>

    <div class="d-flex justify-content-around">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="police" name="amenity" value="police"
                onchange="pol_change(this)">
            <label class="form-check-label" for="police">Police Station</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="fire_station" name="amenity" value="fire_station"
                onchange="fir_change(this)">
            <label class="form-check-label" for="fire_station">Fire Station</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="hospital" name="amenity" value="hospital"
                onchange="hos_change(this)">
            <label class="form-check-label" for="hospital">Hospital</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="school" name="amenity" value="school"
                onchange="sch_change(this)">
            <label for="school">School</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="railway" name="amenity" value="railway"
                onchange="rail_change(this)">
            <label class="form-check-label" for="railway">Railway Station</label>
        </div>
        <div class="form-check">
            <input type="checkbox" id="park" name="amenity" value="park" onchange="par_change(this)">
            <label class="form-check-label" for="park">Parks</label>
        </div>
    </div>
    <div id="map"></div>


    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="/json/parks.geojson"></script>
    <script src="/json/hospitals.geojson"></script>
    <script src="/json/police.geojson"></script>
    <script src="/json/railway.geojson"></script>
    <script src="/json/schools.geojson"></script>
    <script src="/json/fire_station.geojson"></script>
    <script src="/scripts/geocoding.js"></script>
    <%- include ("./partials/footer.ejs")%>