<%- include ("./partials/header.ejs")%>
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap" rel="stylesheet">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-lg-1"></div>
            <div class="col-lg-4">
                <div class="card container-fluid">
                    <img class="img-fluid" src="./images/location-pin.jpg" class="card-img-top" alt="A Location Pin">
                    <div class="card-body">
                        <h5 class="card-title">Know Your Location</h5>
                        <p class="card-text">This feature allows you to navigate the various amenities in your locality. It takes a pincode or area as filtering option. You can also auto-detect your location.</p>
                        <a href="/locguide" class="btn btn-primary">GO !</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-4">
                <div class="card container-fluid">
                    <img class="img-fluid" src="./images/rent.jpg" class="card-img-top" alt="A House for rent">
                    <div class="card-body">
                        <h5 class="card-title">Rent a House</h5>
                        <p class="card-text">This feature allows you to surf through the houses available for rent all over Mumbai along with number of rooms, price and locality as filters.
                            It also shows you the various amenities near those houses.
                        </p>
                        <a href="/houserent" class="btn btn-primary">I'M IN !</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
    <%- include ("./partials/footer.ejs")%>