<%- include ("./partials/header.ejs")%>
    <link rel="stylesheet" href="/stylesheets/locguide.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-lg-6">
                <div class="container-fluid">
                    <div class="row-lg-2"><br><br></div>
                    <div class="row-lg-4">
                        <div class="row">
                            <div class="col-lg-4"><img class="img-fluid" src="./images/location-pin.jpg" alt=""></div>
                            <div class="col-lg-8">
                                <h1>KNOW YOUR LOCATION</h1>
                            </div>
                        </div>
                    </div>
                    <div class="row-lg-4 text-center">
                        This feature allows you to navigate the various amenities in your locality. It takes a pincode or area as filtering option. You can also auto-detect your location.
                    </div>
                    <div class="row-lg-2"></div>
                </div>
            </div>
            <div class="col-lg-6">
                <div id="main">
                    <form action="locguide/maps/" method="POST">
                        <p id="heading"><strong> KNOW YOUR LOCATION</strong></p>
                        <p id="info">Select EITHER pincode OR area. </p>
                        <div class="container-fluid">
                            <div class="row mb-3">
                                <label for="pin" class="col-sm-2 col-form-label"><span
                                        class="ff">Pincode:</span></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="pin" name="pin" value=""
                                        placeholder="eg.400092">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="area" class="col-sm-2 col-form-label"><span class="ff">Area:</span></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="area" name="area" id="area"
                                        placeholder="eg.borivali">
                                </div>
                            </div>
                            <div class="col-6">
                                <button type="submit" class="btn btn-primary">Detect location</button>
                            </div>
                        </div>
                        <p class="OR"><strong>---------OR--------</strong></p>
                    </form>
                    <button type="submit" id="auto" class="btn btn-primary" onclick="getLocation()">Auto Detect
                        location</button>
                </div>
            </div>
        </div>
    </div>

    <script src=" /scripts/locguide.js"></script>
    <%- include ("./partials/footer.ejs")%>