<%- include ("./partials/header.ejs")%>
    <link rel="stylesheet" href="/stylesheets/rentform.css">

    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-lg-6">
                <div class="container-fluid">
                    <div class="row-lg-2"><br><br></div>
                    <div class="row-lg-4">
                        <div class="row">
                            <div class="col-lg-4"><img class="img-fluid" src="./images/rent.jpg" alt=""></div>
                            <div class="col-lg-8">
                                <h1>RENT AN APARTMENT</h1>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row-lg-4 text-center">
                        This feature allows you to surf through the houses available for rent all over Mumbai along with number of rooms, price and locality as filters.
                            It also shows you the various amenities near those houses.
                    </div>
                    <div class="row-lg-2"></div>
                </div>
            </div>
            <div class="col-lg-6">
                <div id="main">
                    <form action="houserent/maps" method="POST">
                        <p id="heading"><strong>RENT AN APARTMENT</strong></p>
                        <p id="info">Select the appropriate option</p>
                        <div class="container-fluid">
                            <div class="row-mb-3">
                                <select class="form-select" aria-label="Default select example" name="bhk" id="rooms"
                                    onchange="roomfunc(this.value)">
                                    <option value="0" selected>---CHOOSE AN OPTION---</option>
                                    <option value="1">1 BHK</option>
                                    <option value="2">2 BHK</option>
                                    <option value="3">3 BHK</option>
                                    <option value="4">4 BHK</option>
                                </select>
                            </div>
                            <br>
                            <div class="row-mb-3">
                                <select id="priceR" class="form-select" aria-label="Default select example"
                                    name="price">
                                    <option selected>Select a price range</option>
                                    <option value="1" id="price1"></option>
                                    <option value="2" id="price2"></option>
                                    <option value="3" id="price3"></option>
                                </select>
                            </div>
                            <br>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Area</span>
                                  </div>
                                <input type="text" name="area" value="" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                              </div>
                        </div>
                        <br>
                        <button type="submit" id="auto" class="btn btn-primary form-submit">GO</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="/scripts/rentform.js"></script>
    <%- include ("./partials/footer.ejs")%>