#main{
    max-width: 500px;
    margin: 75px auto;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 2px;
    padding-right: 8px;
    border: 2px #232323 solid;
    border-radius: 5px;
    background-color: rgb(0,0,0,0.5);

}
#info{
    text-align:center;
    /* color: #232323; */
    font-size: 1.2em;
    text-decoration: underline;
}
.ff{
    font-size: 1.2em;
}
#heading{
    font-size: 1.5em;
    text-align: center;
    text-decoration: underline;
}
#OR1{
    text-align: center;
}
.OR{
    margin-top: 5px;
    text-align: center;
    font-size: 1.5em;
}
button{
    text-align: center;
    font-size: 1.2em;
    margin-left: 38%;
    margin-top: 2px;
}
#auto{
    margin: 0px auto;
    font-size: 1.5em;
}
body{
    font-family:"JOSEPH_IN";
    background-image: url("https://images.unsplash.com/photo-1511068797325-6083f0f872b1?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070");  
    background-size: cover;  
    color: white;
}
.pratham{
    background-color: rgb(0,0,0,0.5);
    margin: 100px 0px;
    width:fit-content; 
    height:fit-content;
    border-radius: 20px;
    /* height: 600px; */
    background-color: rgb(0,0,0,0.5);
    color:aliceblue;
    padding:30px

}
body{
    font-family:"JOSEPH_IN";

}