#main{
    max-width: 500px;
    margin: 75px auto;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 2px;
    padding-right: 8px;
    border: 2px #232323 solid;
    border-radius: 5px;
}
#heading{
    font-size: 1.5em;
    text-align: center;
    text-decoration: underline;
}
#info{
    text-align:center;
    color: #232323;
    font-size: 1.2em;
    text-decoration: underline;
}
