
.smit{
    margin: 100px 0px;
    width:fit-content; 
    height:fit-content;
    border-radius: 20px;
    background-color: rgb(0,0,0,0.5);
    color:aliceblue;
    padding:30px
}
#main{
    max-width: 500px;
    margin: 75px auto;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 2px;
    padding-right: 8px;
    border: 2px #232323 solid;
    border-radius: 5px;
    

    /* margin: 100px 0px; */
    /* width:fit-content;  */
    /* height:fit-content; */
    border-radius: 20px;
    background-color: rgb(0,0,0,0.5);
    color:aliceblue;
    padding:30px
}
#heading{
    font-size: 1.5em;
    text-align: center;
    text-decoration: underline;
}
#info{
    text-align:center;
    color:aliceblue;
    font-size: 1.2em;
    text-decoration: underline;
}
body{
    background-image: url("https://images.unsplash.com/photo-1560520031-3a4dc4e9de0c?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1673");
    background-size: cover;
    color:black;
}
body{
    font-family:"JOSEPH_IN";

}